In [1]:
# Retrieve pandas library and access operating system
import pandas as pd
import csv
import os
import numpy as np

# Name file path w/ variable
schools_csv = os.path.join('Resources/schools data.csv')
students_csv = os.path.join('Resources/students data.csv')

# Read csv files
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

#schools_df.head()
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [2]:
#District Summary

# Total number of schools
total_schools = len(schools_df["school_name"])


# Toal number of students
total_students = len(students_df["student_name"])


# Total budget for all 15 schools
total_budget = schools_df["budget"].sum()


# Average math score for all schools
average_math = students_df["math_score"].mean()


# Average reading score for all schools
average_reading = students_df["reading_score"].mean()


# Overall average combined score
overall_passing_rate = (average_math + average_reading)/2


# Percent of students with a 70% or greater math score
students_passing_math = students_df.loc[students_df["math_score"] >= 70]["math_score"].count()
percent_passing_math = students_passing_math/total_students


# Percent of students with a 70% or greater reading score
students_passing_reading = students_df.loc[students_df["reading_score"] >= 70]["reading_score"].count()
percent_passing_reading = students_passing_reading/total_students


# Data Frame with results
district_summary = pd.DataFrame({
    
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Percent Passing Math":[percent_passing_math],
    "Average Reading Score": [average_reading],
    "Percent Passing Reading": [percent_passing_reading],
    "Overall Passing Rate": [overall_passing_rate]
})


# Format Data Frame
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].astype(float).map("{:.2f}".format)
district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].astype(float).map("{:.1%}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].astype(float).map("{:.2f}".format)
district_summary["Percent Passing Reading"] = district_summary["Percent Passing Reading"].astype(float).map("{:.1%}".format)
district_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].astype(float).map("{:.1%}".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428",78.99,75.0%,81.88,85.8%,8043.2%

In [12]:
# School Summary


# Merge the two csv files into one file
education_df = pd.merge(schools_df, students_df, on="school_name")
education_df.head()

# Extract only the needed columns
education_df = education_df.loc[:, ["school_name", "type", "size", "budget", "Student ID", "reading_score", "math_score" ]]


# Reset index
education = education_df.set_index("school_name")


# Group by school
schools_group_df = education_df.groupby(["school_name"])


# School Type
school_types = schools_df.set_index("school_name")['type']


# Total Students for each school
total_students = schools_group_df["Student ID"].count()


# Total School Budget
school_budget = schools_df.set_index("school_name")["budget"]


# Per Student Budget
budget_per_student = school_budget/total_students


# Average math score for each school
school_average_math = schools_group_df["math_score"].mean()


# Average reading score for each school
school_average_reading = schools_group_df["reading_score"].mean()


# Percent of students with a 70% or greater math score
students_passing_math_by_school = students_df[students_df["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_math_by_school = students_passing_math_by_school/total_students

# Percent of students with a 70% or greater reading score
students_passing_reading_by_school = students_df[students_df["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_reading_by_school = students_passing_reading_by_school/total_students


# Overall Passing Rate
overall_passing_rate_by_school = (percent_passing_math_by_school + percent_passing_reading_by_school)/2

# Data Frame with results
school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students,
    "Total School Budget": school_budget,
    "Budget per Student": budget_per_student,
    "Average Math Score": school_average_math,
    "Percent Passing Math": percent_passing_math_by_school,
    "Average Reading Score": school_average_reading,
    "Percent Passing Reading": percent_passing_reading_by_school,
    "Overall Passing Rate": overall_passing_rate_by_school
})

# Format Data Frame
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,}".format)
school_summary["Budget per Student"] = school_summary["Budget per Student"].astype(int).map("${:,}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].astype(float).map("{:.2f}".format)
school_summary["Percent Passing Math"] = school_summary["Percent Passing Math"].astype(float).map("{:.1%}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].astype(float).map("{:.2f}".format)
school_summary["Percent Passing Reading"] = school_summary["Percent Passing Reading"].astype(float).map("{:.1%}".format)
school_summary["Overall Passing Rate"] = school_summary["Overall Passing Rate"].astype(float).map("{:.1%}".format)


school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928",$628,77.05,66.7%,81.03,81.9%,74.3%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,94.1%,83.98,97.0%,95.6%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,66.0%,81.16,80.7%,73.4%
Ford High School,District,"2,739","$1,763,916",$644,77.10,68.3%,80.75,79.3%,73.8%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,93.4%,83.82,97.1%,95.3%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,66.8%,80.93,80.9%,73.8%
Holden High School,Charter,427,"$248,087",$581,83.80,92.5%,83.81,96.3%,94.4%
Huang High School,District,"2,917","$1,910,635",$655,76.63,65.7%,81.18,81.3%,73.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,66.1%,80.97,81.2%,73.6%
Pena High School,Charter,962,"$585,858",$609,83.84,94.6%,84.04,95.9%,95.3%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,66.4%,80.74,80.2%,73.3%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,93.9%,83.73,95.9%,94.9%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,93.3%,83.85,97.3%,95.3%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,93.9%,83.99,96.5%,95.2%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,93.3%,83.95,96.6%,95.0%